.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.mainContent {
  width: 100%;
  padding: 2rem;
  flex: 1;
}

@media (max-width: 768px) {
  .mainContent {
    padding: 1rem;
  }
}

